<footer>
  <img src="app/images/footer/footer-pnp-white.png">
  
  <div class="footer-top">
    <div class="footer-left">
      <ul>
        <li><p>Company</p></li>
        <li>ABOUT US</li>
        <li>CAREERS</li>
        <li>AWARDS</li>
        <li>PRESS</li>
        <li>INVESTOR RELATIONS</li>
        <li>SUSTAINABILITY REPORTS</li>
        <li>ACKERMAN PNP FOUNDATION</li>
        <li>SMALL BUSINESS ENTERPRISE</li>
        <li>DEVELOPMENT</li>
      </ul>
    </div>

    <div class="footer-middle-left">
      <ul>
        <li><p>USEFUL LINKS</p></li>
        <li>HELP</li>
        <li>STORE LOCATOR</li>
        <li>AMEND YOUR ORDER</li>
        <li>Track YOUR ORDER</li>
        <li>REFUND & RETURNS</li>
        <li>RECIPES</li>
        <li>FAQS</li>
        <li>HOW TO SHOP ONLINE</li>
        <li>CONTACT US</li>
        <li>COMPETITIONS</li>
        <li>WINE CLUB</li>
      </ul>
    </div>

    <div class="footer-middle-right">
      <ul>
        <li><p>MORE SERVICES</p></li>
        <li>PICK N PAY MONEY</li>
        <li>PICK N PAY SCHOOL CLUB</li>
        <li>BRAND MATCH</li>
        <li>PNP EVENTS</li>
        <li>BOXER STORES</li>
        <li>CLOTHING</li>
        <li>APPLY FOR A BUSINESS</li>
        <li>ACCOUNT</li>
        <li>PICK N PAY STORE ACCOUNT</li>
      </ul>
    </div>

    <div class="footer-right">
      <p>Get The latest specials sent to your inbox!</p>
      <button class="btn1">Yes, sign me up! > </button>
      <div class="fr-1">
        <div class="fr-div1">
          <p>customer careline</p>
          mon-sat: 08:00-19:00 | sun & public holidays: 09:00-17:00
        </div>
        <div class="fr-div2">
          <p>0800 11 22 88</p>
          <button class="btn2">customer care > </button>
        </div>
      </div>
      
      <div class="fr-2">
        <div class="fr-div3">
          <p>ONLINE SHOPPING HELP</p>
          MON-SAT: 08:00-19:00 | SUN & PUBLIC HOLIDAYS: 09:00-17:00
        </div>
        <div class="fr-div4">
          <p>0860 30 30 30</p>
          <button class="btn3">online support</button>
        </div>
      </div>

    </div>
  </div>
  
  <div class="footer-middle">
    <div class="fm-left">
        <p>shopping made even easier! download our free app</p>
        <a href="https://play.google.com/store/apps/details?id=za.co.pnp.smartshopper"><img src="app/images/footer/icon-1.png"></a>
        <a href="https://itunes.apple.com/us/app/pick-n-pay/id710386543?ls=1&mt=8"><img src="app/images/footer/icon-2.png"></a>
    </div>
    <div class="fm-right">
      <p>Give us a shout or shout about us!</p>
      <a href="https://www.facebook.com/Picknpay/" class="fa fa-facebook"></a>
      <a href="https://twitter.com/picknpay/" class="fa fa-twitter"></a>
      <a href="https://www.youtube.com/user/PicknPayTube/" class="fa fa-youtube"></a>
      <a href="https://za.pinterest.com/picknpay/" class="fa fa-pinterest"></a>
      <a href="https://www.instagram.com/picknpay/" class="fa fa-instagram"></a>
    </div>
  </div>
  
  <div class="footer-bottom">
    <b>&#9400; 2018 PICK N PAY</b> ALL RIGHTS RESERVED | ONLINE SHOP T&Cs | PRIVACY POLICY | TERMS AND CONDITIONS | COPYRIGHT | RETURNS POLICY | CPA
    <br/>
    <img src="app/images/footer/footer-payu-white.png">
  </div>
</footer>