<app-header></app-header>

<div *ngIf="!itms?.length > 0" style="font-size:30px;text-align: center;">
  <br/>
  Opps! Something went wrong&#x263A;!
  <br/>
  <img src="/app/images/loading.gif">
</div>

<div class="itm" *ngIf="itms?.length > 0" >
  <!--<div class="filterLft">
    <div class="filter">
      <label><b>FILTERED</b> BY CATEGORY</label>
      SLICED BREAD  (16)<br/>
      CHRISTMAS BAKERY  (12)<br/>
      BREAD  (7)<br/>
      SLICED LOW GI BREAD  (7)<br/>
      SLICED WHITE BREAD 
      <label class="more"><b>MORE</b> CATEGORIES</label>
    </div>
    <div class="filter">
      <label><b>FILTERED</b> BY ON PROMOTION</label>
    </div>
    <div class="filter">
      <label><b>FILTERED</b> BY PRICE</label>
    </div>
    <div class="filter">
      <label><b>FILTERED</b> BY BRAND</label>
    </div>
    <div class="filter">
      <label><b>FILTERED</b> BY DISCOVERY VITALITY</label>
    </div>
    <div class="filter">
      <label><b>FILTERED</b> BY UNIT OF MEASURE</label>
    </div>
  </div>

  <div class="fltRight">
    <button class="ss"></button>
    <img src="/app/images/aisle/delivery.JPG" class="delivery">
    <div>
        Do we deliver to your area?
        <input placeholder="Please Select a City">
        <input placeholder="Select City From List">
        <button>Suggest Your Surbub</button>
    </div>
  </div>-->

  <div class="items">
    <div class="filterTop">
      SHOWING 1-18 OF 28 SHOW SORT BY
      <!--Use Paginator from angular materials-->
    </div>
    
    <!--Get cart items-->
    <div *ngFor="let items of itmz">
    </div>

    <div class="item" *ngFor="let items of itms; let i of index">
      
        <img src="/app/images/items/product{{prd.id}}/{{items.image}}" (click)="setItem(items)">
        <p (click)="setItem(items)">{{items.name}} {{items.weight}}</p>
        
        <p class="normalPrice">
          R{{items?.price.toLocaleString().substring(0,items?.price.toLocaleString().indexOf('.'))}}<span>{{items?.price.toLocaleString().substring(items?.price.toLocaleString().indexOf('.')+1, items?.price.toLocaleString().indexOf('.')+3)}}</span>
        </p>
        <button (click)="subtractQty(items)">
          -
        </button>
        <span style="position: relative;top:-5px;">{{items.quantity}}</span>
        <button style="margin-left:10px;" (click)="addQty(items)">
          +
        </button>
        <button class="trolley" (click)="addToTempCart(items)">Add to trolley</button>
    </div>
  </div>
  
</div>
<app-footer></app-footer>