<app-header></app-header>
<div class="inspiration">
  <img class="header" src="/app/images/inspiration/header.jpg" >

  <p>Need a little inspiration for your event or celebration? Shop by occasion to fill your trolley with the items you need for the perfect party. From chilled braais to birthday bashes, we've got everything you need to pull off an unforgettable event.</p>

  <img *ngFor="let number of [1,2,3,4,5,6,7,8,9]"src="/app/images/inspiration/{{number}}.jpg">
</div>
<app-footer></app-footer>