<app-header></app-header>
<div class="catalogue">
  <div class="banner">
    <h1>IN-STORE CATALOGUES</h1>
    <img src="/app/images/catalogue/banner.jpg">
  </div>
  <div class="main">
    <div class="main1">
      <span style="font-weight: bold; font-size: 30px;">Pick Well this Christmas with Pick n Pay</span><br>
      <span style="line-height:40px;">Valid: 26 November – 2 December 2018</span><br>
      <span style="font-weight:bold;font-size: 13px; text-transform:none;">Shop now or download the PDF catalogue for your region below</span>
    </div>
    <div class="main2">
      <a href="/app/images/catalogue/1.pdf" download="INLAD">inland</a>
      <a href="/app/images/catalogue/2.pdf" download="WESTERN CAPE">WESTERN CAPE</a>
      <a href="/app/images/catalogue/3.pdf" download="EASTERN CAPE">EASTERN CAPE</a>
      <a href="/app/images/catalogue/4.pdf" download="KWAZULU-NATAL">KWAZULU-NATAL</a>
    </div>
    <div class="main1">
      <span style="font-weight: bold; font-size: 30px;">Pick Well this Christmas with Pick n Pay Hypermarkets</span><br>
      <span style="line-height:40px;">Valid: 26 November – 9 December 2018</span><br> 
      <span style="font-weight:bold;font-size: 13px; text-transform:none;">Shop now or download the PDF catalogue for your region below</span>
    </div>
    <div class="main2">
      <a href="/app/images/catalogue/5.pdf" download="VIEW CATALOGUE">VIEW CATALOGUE</a>
    </div>
    <div class="main1">
      <span style="font-weight: bold; font-size: 30px;">Health &amp; Beauty savings at Pick n Pay</span><br> 
      <span style="line-height:40px;">Valid: 26 November – 9 December 2018</span><br> 
      <span style="font-weight:bold;font-size: 13px; text-transform:none;">Shop now or download the PDF catalogue for your region below</span>
    </div>
    <div class="main2">
        <a href="/app/images/catalogue/6.pdf" download="VIEW CATALOGUE">VIEW CATALOGUE</a>
    </div>
    <div class="main1">
      <span style="font-weight: bold; font-size: 30px;">Black Friday Hypermarket Deals</span><br> 
      <span style="line-height:40px;">Valid: 21 – 25 November 2018</span><br> 
      <span style="font-weight:bold;font-size: 13px; text-transform:none;">Shop now or download the PDF catalogue for your region below</span>
    </div>
    <div class="main2">
        <a href="/app/images/catalogue/7.pdf" download="VIEW CATALOGUE">VIEW CATALOGUE</a>
    </div>
    <div class="main1">
      <span style="font-weight: bold; font-size: 30px;">GET UP TO R150 FREE AIRTIME</span><br> 
      <span style="line-height:40px;">Valid 19 November – 2 December 2018</span><br> 
      <span style="font-weight:bold;font-size: 13px; text-transform:none;">Shop now or download the PDF catalogue for your region below</span>
    </div>
    <div class="main2">
      <a href="/app/images/catalogue/8.pdf" download="INLAND, EC, WC">INLAND, EC, WC</a>
      <a href="/app/images/catalogue/9.pdf" download="KZN">KZN</a>
    </div>
    <div class="main1">
      <span style="font-weight: bold; font-size: 30px;">Pick n Pay Hypermarket Gifting ideas</span><br>
      <span style="line-height:40px;">Valid: 19 November – 26 December 2018</span><br>
      <span style="font-weight:bold;font-size: 13px; text-transform:none;">Shop now or download the PDF catalogue for your region below</span>
    </div>
    <div class="main2">
        <a href="/app/images/catalogue/10.pdf" download="VIEW CATALOGUE">VIEW CATALOGUE</a>
    </div>
    <div class="main1">
      <span style="font-weight: bold; font-size: 30px;">Pick well this Christmas gifting catalogue</span><br>
      <span style="line-height:40px;">Valid: 5 November – 26 December 2018</span><br>
      <span style="font-weight:bold;font-size: 13px; text-transform:none;">Shop now or download the PDF catalogue below</span>
    </div>
    <div class="main2">
      <a>SHOP NOW</a>
      <a href="/app/images/catalogue/11.pdf" download="VIEW CATALOGUE">VIEW CATALOGUE</a>
    </div>
    <div class="main1">
      <span style="font-weight: bold; font-size: 30px;">Fresh Ideas with Summer Eating from Pick n Pay</span><br> 
      <span style="line-height:40px;">Valid: 5 November – 2 December 2018</span>
    </div>
    <div class="main2">
      <a href="/app/images/catalogue/12.pdf" download="VIEW CATALOGUE">VIEW CATALOGUE</a>
    </div>
    <div class="main1">
      <span style="font-weight: bold; font-size: 30px;">Pick n Pay Christmas Cellular Deals</span><br>
      <span style="line-height:40px;">Valid: 12 November 2018 – 6 January 2019</span>
    </div>
    <div class="main2">
      <a href="/app/images/catalogue/13.pdf" download="VIEW CATALOGUE">VIEW CATALOGUE</a>
    </div>
    <div class="main1">
      <span style="font-weight: bold; font-size: 30px;">Pick n Pay Liquor Savings</span><br> 
      <span style="line-height:40px;">Valid: 22 October – 24 December 2018</span>
    </div>
    <div class="main2">
      <a href="/app/images/catalogue/14.pdf" download="VIEW CATALOGUE">VIEW CATALOGUE</a>
    </div>
    <div class="main1">
      <span style="font-weight: bold; font-size: 30px;">Massive Mobile Sale</span><br>  
      <span style="line-height:40px;">Valid: 1 October – 31 December 2018</span>
    </div>
    <div class="main2">
      <a href="/app/images/catalogue/15.pdf" download="VIEW CATALOGUE">VIEW CATALOGUE</a>
    </div>
  </div>
</div>
<app-footer></app-footer>