<app-header></app-header>
<div class="recipes">
  <img class="header" src="/app/images/recipes/header.jpg">

  <img class="banner" src="/app/images/recipes/bn1.jpg" style="width: 100%">
  <div id="myCarousel1" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel1" data-slide-to="1"></li>
      <li data-target="#myCarousel1" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="app/images/recipes/hd1.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd2.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd3.jpg" style="display:inline" class="itms"> 
      </div>
      <div class="item">
        <img src="app/images/recipes/hd4.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd5.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd6.jpg" style="display:inline" class="itms"> 
      </div>
      <div class="item">
        <img src="app/images/recipes/hd7.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd1.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd2.jpg" style="display:inline" class="itms"> 
      </div>
    </div>
  </div>
  
  <img class="banner" src="/app/images/recipes/bn2.jpg"  style="width: 100%">
  <div id="myCarousel2" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel2" data-slide-to="1"></li>
      <li data-target="#myCarousel2" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="app/images/recipes/ff1.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/ff2.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/ff3.jpg" style="display:inline" class="itms">
      </div>
      <div class="item">
        <img src="app/images/recipes/ff4.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/ff5.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/ff6.jpg" style="display:inline" class="itms"> 
      </div>
      <div class="item">
        <img src="app/images/recipes/ff7.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/ff8.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/ff9.jpg" style="display:inline" class="itms"> 
      </div>
    </div>
  </div>

  <img class="banner" src="/app/images/recipes/bn3.jpg"  style="width: 100%">
  <div id="myCarousel3" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel3" data-slide-to="1"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="app/images/recipes/31.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/32.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/33.jpg" style="display:inline" class="itms">
      </div>
      <div class="item">
        <img src="app/images/recipes/34.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/31.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/32.jpg" style="display:inline" class="itms"> 
      </div>
    </div>
  </div>

  <img class="banner" src="/app/images/recipes/bn4.jpg" style="width: 100%">
  <div id="myCarousel4" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel4" data-slide-to="0" class="active"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="app/images/recipes/41.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/42.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/43.jpg" style="display:inline" class="itms"> 
      </div>
    </div>
  </div>

  <img class="banner" src="/app/images/recipes/bn5.jpg" style="width: 100%">
  <div id="myCarousel5" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel5" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel5" data-slide-to="1"></li>
      <li data-target="#myCarousel5" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="app/images/recipes/hd1.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd2.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd3.jpg" style="display:inline" class="itms"> 
      </div>
      <div class="item">
        <img src="app/images/recipes/hd4.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd5.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd6.jpg" style="display:inline" class="itms"> 
      </div>
      <div class="item">
        <img src="app/images/recipes/hd7.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd1.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd2.jpg" style="display:inline" class="itms"> 
      </div>
    </div>
  </div>

  <img class="banner" src="/app/images/recipes/bn6.jpg" style="width: 100%">
  <div id="myCarousel6" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel6" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel6" data-slide-to="1"></li>
      <li data-target="#myCarousel6" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="app/images/recipes/hd1.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd2.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd3.jpg" style="display:inline" class="itms"> 
      </div>
      <div class="item">
        <img src="app/images/recipes/hd4.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd5.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd6.jpg" style="display:inline" class="itms"> 
      </div>
      <div class="item">
        <img src="app/images/recipes/hd7.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd1.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd2.jpg" style="display:inline" class="itms"> 
      </div>
    </div>
  </div>

  <img class="banner" src="/app/images/recipes/bn7.jpg" style="width: 100%">
  <div id="myCarousel7" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel7" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel7" data-slide-to="1"></li>
      <li data-target="#myCarousel7" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="app/images/recipes/hd1.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd2.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd3.jpg" style="display:inline" class="itms"> 
      </div>
      <div class="item">
        <img src="app/images/recipes/hd4.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd5.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd6.jpg" style="display:inline" class="itms"> 
      </div>
      <div class="item">
        <img src="app/images/recipes/hd7.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd1.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd2.jpg" style="display:inline" class="itms"> 
      </div>
    </div>
  </div>

  <img class="banner" src="/app/images/recipes/bn8.jpg" style="width: 100%">
  <div id="myCarousel8" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel8" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel8" data-slide-to="1"></li>
      <li data-target="#myCarousel8" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="app/images/recipes/hd1.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd2.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd3.jpg" style="display:inline" class="itms"> 
      </div>
      <div class="item">
        <img src="app/images/recipes/hd4.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd5.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd6.jpg" style="display:inline" class="itms"> 
      </div>
      <div class="item">
        <img src="app/images/recipes/hd7.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd1.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd2.jpg" style="display:inline" class="itms"> 
      </div>
    </div>
  </div>

  <img class="banner" src="/app/images/recipes/bn9.jpg" style="width: 100%">
  <div id="myCarousel9" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel9" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel9" data-slide-to="1"></li>
      <li data-target="#myCarousel9" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="app/images/recipes/hd1.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd2.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd3.jpg" style="display:inline" class="itms"> 
      </div>
      <div class="item">
        <img src="app/images/recipes/hd4.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd5.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd6.jpg" style="display:inline" class="itms"> 
      </div>
      <div class="item">
        <img src="app/images/recipes/hd7.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd1.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd2.jpg" style="display:inline" class="itms"> 
      </div>
    </div>
  </div>

  <img class="banner" src="/app/images/recipes/bn10.jpg" style="width: 100%">
  <div id="myCarousel10" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel10" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel10" data-slide-to="1"></li>
      <li data-target="#myCarousel10" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="app/images/recipes/hd1.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd2.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd3.jpg" style="display:inline" class="itms"> 
      </div>
      <div class="item">
        <img src="app/images/recipes/hd4.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd5.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd6.jpg" style="display:inline" class="itms"> 
      </div>
      <div class="item">
        <img src="app/images/recipes/hd7.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd1.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd2.jpg" style="display:inline" class="itms"> 
      </div>
    </div>
  </div>

  <img class="banner" src="/app/images/recipes/bn11.jpg" style="width: 100%">
  <div id="myCarousel11" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel11" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel11" data-slide-to="1"></li>
      <li data-target="#myCarousel11" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="app/images/recipes/hd1.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd2.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd3.jpg" style="display:inline" class="itms"> 
      </div>
      <div class="item">
        <img src="app/images/recipes/hd4.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd5.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd6.jpg" style="display:inline" class="itms"> 
      </div>
      <div class="item">
        <img src="app/images/recipes/hd7.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd1.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd2.jpg" style="display:inline" class="itms"> 
      </div>
    </div>
  </div>

  <img class="banner" src="/app/images/recipes/bn12.jpg" style="width: 100%">
  <div id="myCarousel12" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel12" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel12" data-slide-to="1"></li>
      <li data-target="#myCarousel12" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="app/images/recipes/hd1.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd2.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd3.jpg" style="display:inline" class="itms"> 
      </div>
      <div class="item">
        <img src="app/images/recipes/hd4.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd5.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd6.jpg" style="display:inline" class="itms"> 
      </div>
      <div class="item">
        <img src="app/images/recipes/hd7.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd1.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd2.jpg" style="display:inline" class="itms"> 
      </div>
    </div>
  </div>

  <img class="banner" src="/app/images/recipes/bn13.jpg" style="width: 100%">
  <div id="myCarousel13" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel13" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel13" data-slide-to="1"></li>
      <li data-target="#myCarousel13" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="app/images/recipes/hd1.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd2.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd3.jpg" style="display:inline" class="itms"> 
      </div>
      <div class="item">
        <img src="app/images/recipes/hd4.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd5.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd6.jpg" style="display:inline" class="itms"> 
      </div>
      <div class="item">
        <img src="app/images/recipes/hd7.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd1.jpg" style="display:inline" class="itms"> 
        <img src="app/images/recipes/hd2.jpg" style="display:inline" class="itms"> 
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>