<app-register-header></app-register-header>
<div class="rst">
  <h1>Reset Password</h1>

  <p>Please enter your email address and we'll send you a temporary password.</p>

  <form [formGroup]="userData" (submit)="getPassword()">
    <table>
      <tr>
        <td><label></label></td>
        <td></td>
      </tr>
      <tr>
        <td style="border: solid 1px #ebebeb;padding-top:5px;padding-left:5px;">
          <label>Email address:</label>
        </td>
        <td style="border: solid 1px #ebebeb;">
          <input type="text" id="email" name="email" required formControlName="email">  
        </td>
      </tr>
    </table>

    <button mat-button>Reset Password</button>
  </form>
</div>